div.mdl-grid(data-hook="transform-continuous-panel")

  div.mdl-cell.mdl-cell--1-col.facetIcon.facetContinuousIcon

  div.mdl-cell.mdl-cell--1-col

  div.mdl-cell.mdl-cell--8-col.mdl-grid

    div.mdl-cell.mdl-cell--4-col
      label(for="define-transform-none").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
        input(
          id="define-transform-none"
          data-hook="define-transform-none"
          type="radio"
          name="transformtype"
          value="none").mdl-radio__button
        span.mdl-radio__label No transform
        
    div.mdl-cell.mdl-cell--4-col
      label(for="define-transform-percentiles").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
        input(
          id="define-transform-percentiles"
          data-hook="define-transform-percentiles"
          type="radio"
          name="transformtype"
          value="percentiles").mdl-radio__button
        span.mdl-radio__label Percentiles

  div.mdl-cell.mdl-cell--2-col
