div.mdl-grid
  div.mdl-cell.mdl-cell--12-col.mdl-grid
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetInfoIcon
    div.mdl-cell.mdl-cell--1-col
    div.mdl-cell.mdl-cell--8-col
      div.mdl-grid

        div(id="define-name-div").mdl-cell.mdl-cell--12-col
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
            input(
              id="define-name"
              data-hook="define-name-input"
              type="text").mdl-textfield__input 
            label(for="define-name").mdl-textfield__label Name
        div(for="define-name-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | Set a descriptive name for this facet. The name is used to identify this facet on plots and in menus. 

        div(id="define-units-div").mdl-cell.mdl-cell--12-col
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
            input(
              id="define-units"
              data-hook="define-units-input"
              type="text").mdl-textfield__input 
            label(for="define-units").mdl-textfield__label Units
        div(for="define-units-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | Set units for this facet. Units are printed on plots where applicable.

        div(id="define-description-div").mdl-cell.mdl-cell--12-col
          div.mdl-textfield.mdl-js-textfield.mdl.textfield--floating-label.fullwidth
            textarea(
              id="define-description"
              data-hook="define-description-input"
              type="text"
              rows="5").mdl-textfield__input 
            label(for="define-description").mdl-textfield__label Description
        div(for="define-description-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | Give a description of the facet. What do its values mean? How are they calculated?

    div.mdl-cell.mdl-cell--2-col

  div.mdl-cell.mdl-cell--12-col.mdl-grid
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetTypeIcon
    div.mdl-cell.mdl-cell--1-col
    div.mdl-cell.mdl-cell--8-col

      div.mdl-grid.mdl-cell.mdl-cell--12-col

        div(id="define-type-div").mdl-grid.mdl-cell.mdl-cell--12-col
          div.mdl-cell.mdl-cell--3-col
            label(for="define-type-categorial").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
              input(
                id="define-type-categorial"
                data-hook="define-type-categorial"
                type="radio"
                name="type"
                value="categorial").mdl-radio__button
              span.mdl-radio__label Categorial

          div.mdl-cell.mdl-cell--3-col
            label(for="define-type-continuous").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
              input(
                id="define-type-continuous"
                data-hook="define-type-continuous"
                type="radio"
                name="type"
                value="continuous").mdl-radio__button
              span.mdl-radio__label Continuous

          div.mdl-cell.mdl-cell--3-col
            label(for="define-type-datetime").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
              input(
                id="define-type-datetime"
                data-hook="define-type-datetime"
                type="radio"
                name="type"
                value="datetime").mdl-radio__button
              span.mdl-radio__label Datetime

          div.mdl-cell.mdl-cell--3-col
            label(for="define-type-duration").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
              input(
                id="define-type-duration"
                data-hook="define-type-duration"
                type="radio"
                name="type"
                value="duration").mdl-radio__button
              span.mdl-radio__label Duration

          div.mdl-cell.mdl-cell--3-col
            label(for="define-type-text").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
              input(
                id="define-type-text"
                data-hook="define-type-text"
                type="radio"
                name="type"
                value="text").mdl-radio__button
              span.mdl-radio__label Text

        div(for="define-type-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | What values does this facet take? Is it a continuous value (length, weight, amount)? Or a label, category ('important', 'urgent', or a day of the week, ...). Or is it a date, time or duration? Or arbitrary text?

    div.mdl-cell.mdl-cell--2-col

  div.mdl-cell.mdl-cell--12-col.mdl-grid
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetBaseValueIcon
    div.mdl-cell.mdl-cell--1-col
    div.mdl-cell.mdl-cell--8-col

      div.mdl-grid.mdl-cell.mdl-cell--12-col
 
        div(id="define-missing-div").mdl-cell.mdl-cell--12-col
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
            input(
              id="define-missing-input"
              data-hook="define-missing-input"
              type="text").mdl-textfield__input 
            label(for="define-missing-input").mdl-textfield__label Missing data indicator
        div(for="define-missing-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | Invalid, undefined, or missing data are dealt with automatically, but sometimes a special value is used to indicate the data is missing. Enter those values here. Example: 999, 'x', 'missing'


        div(id="define-accessor-div").mdl-cell.mdl-cell--12-col
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
            input(
              id="define-accessor-input"
              data-hook="define-accessor-input"
              type="text").mdl-textfield__input 
            label(for="define-accessor-input").mdl-textfield__label Property name or index
        div(for="define-accessor-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
          | How we derive the facet value from a data object? Enter a property name (for JSON or SQL columns), or index (for arrays). Use '.' notation to access nested properties.


        div(id="define-rescan-div").mdl-cell.mdl-cell--12-col.mdl-grid
          button(data-hook="define-rescan-button").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Scan dataset


        div(id="define-minimum-div" data-hook="define-minimum-div").mdl-cell.mdl-cell--12-col.mdl-grid
          div(id="define-minimum-div").mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--10-col
            input(
              id="define-minimum"
              data-hook="define-minimum-input"
              type="text").mdl-textfield__input
            label(for="sample4").mdl-textfield__label Minimum value

          div.mdl-cell.mdl-cell--1-col
            button(data-hook="button-minval-missing").mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
              i.material-icons cancel

          div(for="define-minimum-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
            | Set minimum value.


        div(id="define-maximum-div" data-hook="define-maximum-div").mdl-cell.mdl-cell--12-col.mdl-grid
          div(id="define-maximum-div").mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--10-col
            input(
              id="define-maximum"
              data-hook="define-maximum-input"
              type="text").mdl-textfield__input
            label(for="sample4").mdl-textfield__label Maximum value

          div.mdl-cell.mdl-cell--1-col
            button(data-hook="button-maxval-missing").mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
              i.material-icons cancel

          div(for="define-maximum-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
            | Set maximum value.

    div.mdl-cell.mdl-cell--2-col
