div.mdl-grid(data-hook="transform-time-panel")

  div.mdl-grid.mdl-cell.mdl-cell--12-col
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetTimeIcon
    div.mdl-cell.mdl-cell--1-col

    div.mdl-cell.mdl-cell--8-col.mdl-grid

      div(id="transform-time-format-div").mdl-cell.mdl-cell--12-col.mdl-grid
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--6-col
          input(
            id="transform-time-format"
            data-hook="transform-time-format-input"
            type="text").mdl-textfield__input 
          label(for="transform-time-format").mdl-textfield__label Input time format

        div(data-hook="time-zones").mdl-cell.mdl-cell--6-col

      div(id="transform-time-transformedformat-div").mdl-cell.mdl-cell--12-col.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          | Select datetime part
        div(data-hook="time-parts").mdl-cell.mdl-cell--6-col

      div(id="transform-time-transformedreference-div").mdl-cell.mdl-cell--12-col.mdl-grid
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--6-col
          input(
            id="transform-time-transformedreference"
            data-hook="transform-time-transformedreference-input"
            type="text").mdl-textfield__input 
          label(for="transform-time-transformedreference").mdl-textfield__label Add/subtract reference time

        div(data-hook="transformed-time-zones").mdl-cell.mdl-cell--6-col

    div.mdl-cell.mdl-cell--2-col
