div.mdl-grid
  div.mdl-cell.mdl-cell--3-col
    h1 Grouping 

  div.mdl-cell.mdl-cell--9-col
  
    div(data-hook="grouping-general-panel")
 
      h2 General 
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="grouping-general-minimum"
          data-hook="grouping-general-minimum-input"
          type="text").mdl-textfield__input 
        label(for="grouping-general-minimum").mdl-textfield__label Minimum 
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="grouping-general-maximum"
          data-hook="grouping-general-maximum-input"
          type="text").mdl-textfield__input 
        label(for="grouping-general-maximum").mdl-textfield__label Maximum
   
 
    div(data-hook="grouping-continuous-panel")

      h2 Numerical
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="grouping-continuous-bins"
          data-hook="grouping-continuous-bins-input"
          type="text").mdl-textfield__input 
        label(for="grouping-continuous-bins").mdl-textfield__label Number of bins or binsize
      
      div.mdl-grid

        div.mdl-cell.mdl-cell--4-col
          label(for="grouping-continuous-fixedn").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="grouping-continuous-fixedn"
              data-hook="grouping-continuous-fixedn-input"
              type="radio"
              name="grouping-continuous"
              value="fixedn").mdl-radio__button
            span.mdl-radio__label Fixed number of bins
          
        div.mdl-cell.mdl-cell--4-col
          label(for="grouping-continuous-fixedsc").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="grouping-continuous-fixedsc"
              data-hook="grouping-continuous-fixedsc-input"
              type="radio"
              name="grouping-continuous"
              value="fixedsc").mdl-radio__button
            span.mdl-radio__label Fixed bin size (centered)
             
        div.mdl-cell.mdl-cell--4-col
          label(for="grouping-continuous-fixeds").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="grouping-continuous-fixeds"
              data-hook="grouping-continuous-fixeds-input"
              type="radio"
              name="grouping-continuous"
              value="fixeds").mdl-radio__button
            span.mdl-radio__label Fixed bin size
             
        div.mdl-cell.mdl-cell--4-col
          label(for="grouping-continuous-log").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="grouping-continuous-log"
              data-hook="grouping-continuous-log-input"
              type="radio"
              name="grouping-continuous"
              value="log").mdl-radio__button
            span.mdl-radio__label Logarithmic
      
    div(data-hook="grouping-time-panel")

      h2 Time
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="grouping-time-format"
          data-hook="grouping-time-format-input"
          type="text").mdl-textfield__input 
        label(for="grouping-time-format").mdl-textfield__label Format
