div.mdl-grid
  div.mdl-cell.mdl-cell--3-col
    h1 General

  div.mdl-cell.mdl-cell--9-col

    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
      input(
        id="general-title"
        data-hook="general-title-input"
        type="text").mdl-textfield__input 
      label(for="general-title").mdl-textfield__label Title
    
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
      input(
        id="general-units"
        data-hook="general-units-input"
        type="text").mdl-textfield__input 
      label(for="general-units").mdl-textfield__label Units
    
    div.mdl-textfield.mdl-js-textfield.mdl.textfield--floating-label.fullwidth
      textarea(
        id="general-description"
        data-hook="general-description-input"
        type="text"
        rows="5").mdl-textfield__input 
      label(for="general-description").mdl-textfield__label Description
