div.mdl-grid
  div.mdl-cell.mdl-cell--3-col
    h1 Transform

  div.mdl-cell.mdl-cell--9-col

    div(data-hook="transform-continuous-panel")
      h2 Nummerical
      
      div.mdl-grid

        div.mdl-cell.mdl-cell--4-col
          label(for="transform-continuous-none").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="transform-continuous-none"
              data-hook="transform-continuous-none-input"
              type="radio"
              name="transform-continuous"
              value="none").mdl-radio__button
            span.mdl-radio__label None
          
        div.mdl-cell.mdl-cell--4-col
          label(for="transform-continuous-percentiles").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="transform-continuous-percentiles"
              data-hook="transform-continuous-percentiles-input"
              type="radio"
              name="transform-continuous"
              value="percentiles").mdl-radio__button
            span.mdl-radio__label Percentiles
          
        div.mdl-cell.mdl-cell--4-col
          label(for="transform-continuous-exceedances").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="transform-continuous-exceedances"
              data-hook="transform-continuous-exceedances-input"
              type="radio"
              name="transform-continuous"
              value="exceedances").mdl-radio__button
            span.mdl-radio__label Exceedances
    
    div(data-hook="transform-categorial-panel")
     
      div(data-hook="transform-categorial-collection")
      
    div(data-hook="transform-time-panel")

      h2 Time
     
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="transform-time-units"
          data-hook="transform-time-units-input"
          type="text").mdl-textfield__input 
        label(for="transform-time-units").mdl-textfield__label Units
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="transform-time-zone"
          data-hook="transform-time-zone-input"
          type="text").mdl-textfield__input 
        label(for="transform-time-zone").mdl-textfield__label Timezone
      
      div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
        input(
          id="transform-time-reference"
          data-hook="transform-time-reference-input"
          type="text").mdl-textfield__input 
        label(for="transform-time-reference").mdl-textfield__label Reference
