div.mdl-grid
  div(data-hook="aggregate-continuous-panel").mdl-grid.mdl-cell.mdl-cell--12-col
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetReductionIcon
    div.mdl-cell.mdl-cell--1-col
    div.mdl-cell.mdl-cell--8-col

      div(id="aggregate-continuous-div").mdl-grid

        div.mdl-cell.mdl-cell--4-col
          label(for="aggregate-count").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="aggregate-count"
              data-hook="aggregate-count-input"
              type="radio"
              name="reduction"
              value="count").mdl-radio__button
            span.mdl-radio__label Count 
          
        div.mdl-cell.mdl-cell--4-col
          label(for="aggregate-sum").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="aggregate-sum"
              data-hook="aggregate-sum-input"
              type="radio"
              name="reduction"
              value="sum").mdl-radio__button
            span.mdl-radio__label Sum
          
        div.mdl-cell.mdl-cell--4-col
          label(for="aggregate-average").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="aggregate-average"
              data-hook="aggregate-average-input"
              type="radio"
              name="reduction"
              value="average").mdl-radio__button
            span.mdl-radio__label Average

      div(for="aggregate-continuous-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | For plotting, a group needs to be aggregated to a single value. This can be the count, the sum, or the average of all elements in the group.

    div.mdl-cell.mdl-cell--2-col

  div(data-hook="aggregate-general-panel").mdl-grid.mdl-grid.mdl-cell.mdl-cell--12-col
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetReductionPercentageIcon
    div.mdl-cell.mdl-cell--1-col
    div.mdl-cell.mdl-cell--8-col
      
      div(id="aggregate-general-div").mdl-grid

        div.mdl-cell.mdl-cell--6-col
          label(for="aggregate-general-absolute").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="aggregate-general-absolute"
              data-hook="aggregate-general-absolute-input"
              type="radio"
              name="aggregate-general"
              value="absolute").mdl-radio__button
            span.mdl-radio__label Absolute
          
        div.mdl-cell.mdl-cell--6-col
          label(for="aggregate-general-percentage").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="aggregate-general-percentage"
              data-hook="aggregate-general-percentage-input"
              type="radio"
              name="aggregate-general"
              value="percentage").mdl-radio__button
            span.mdl-radio__label Percentage
      div(for="aggregate-general-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Plot the aggregated value directly, or as a percentage.

    div.mdl-cell.mdl-cell--2-col
