div.mdl-grid(data-hook="transform-time-panel")
  div.mdl-grid.mdl-cell.mdl-cell--12-col
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetTimeIcon
    div.mdl-cell.mdl-cell--1-col
  
    div.mdl-cell.mdl-cell--8-col.mdl-grid
      div(id="base-value-time-type-div").mdl-cell.mdl-cell--12-col.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          label(for="base-value-time-type-datetime").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="base-value-time-type-datetime" 
              data-hook="base-value-time-type-datetime-input"
              type="radio"
              name="base-value-time-type"
              value="datetime").mdl-radio__button
            span.mdl-radio__label Date time
          
        div.mdl-cell.mdl-cell--6-col
          label(for="base-value-time-type-duration").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
            input(
              id="base-value-time-type-duration" 
              data-hook="base-value-time-type-duration-input"
              type="radio"
              name="base-value-time-type"
              value="duration").mdl-radio__button
            span.mdl-radio__label Duration
      div(for="base-value-time-type-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Is the value a datetime ('2016-09-12 12:00'), or a duration ('5')?
  
    div.mdl-cell.mdl-cell--2-col
  
  div.mdl-grid.mdl-cell.mdl-cell--12-col
    div.mdl-cell.mdl-cell--1-col.facetIcon.facetTransformTimeIcon
    div.mdl-cell.mdl-cell--1-col
  
    div.mdl-cell.mdl-cell--8-col.mdl-grid
      div(id="transform-time-units-div").mdl-cell.mdl-cell--12-col
        div.mdl-cell.mdl-cell--6-col
          | Select datetime part
        div(data-hook="time-parts").mdl-cell.mdl-cell--6-col
      div(for="transform-time-units-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Convert a duration to new units: seconds, minutes, hours, days, etc; or convert a datetime to a day of the week, month of the year, ...
        
      div(id="transform-time-zone-div").mdl-cell.mdl-cell--12-col
        div.mdl-cell.mdl-cell--6-col
          | Change timezone
        div(data-hook="time-zones").mdl-cell.mdl-cell--6-col
      div(for="transform-time-zone-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Convert a datetime to a new timezone: Europe/Amsterdam, America/New_York 

      div(id="transform-duration-units-div").mdl-cell.mdl-cell--12-col
        div.mdl-cell.mdl-cell--6-col
          | Duration units
        div(data-hook="duration-units").mdl-cell.mdl-cell--6-col
      div(for="transform-duration-units-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Set the units (milliseconds to years) of this duration
        
      div(id="transform-time-reference-div").mdl-cell.mdl-cell--12-col
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
          input(
            id="transform-time-reference"
            data-hook="transform-time-reference-input"
            type="text").mdl-textfield__input 
          label(for="transform-time-reference").mdl-textfield__label Add/subtract reference time
      div(for="transform-time-reference-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Convert between a duration and datetime by adding (subtracting) this reference time.
  
    div.mdl-cell.mdl-cell--2-col
