div(data-hook="reduction-panel").mdl-grid
  div.mdl-cell.mdl-cell--1-col.facetReductionIcon
  
  div.mdl-cell.mdl-cell--1-col

  div.mdl-cell.mdl-cell--8-col
    div(id="reduction-div").mdl-grid

      div.mdl-cell.mdl-cell--4-col
        label(for="reduction-count").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
          input(
            id="reduction-count"
            data-hook="reduction-count-input"
            type="radio"
            name="reduction"
            value="count").mdl-radio__button
          span.mdl-radio__label Count 
        
      div.mdl-cell.mdl-cell--4-col
        label(for="reduction-sum").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
          input(
            id="reduction-sum"
            data-hook="reduction-sum-input"
            type="radio"
            name="reduction"
            value="sum").mdl-radio__button
          span.mdl-radio__label Sum
        
      div.mdl-cell.mdl-cell--4-col
        label(for="reduction-average").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
          input(
            id="reduction-average"
            data-hook="reduction-average-input"
            type="radio"
            name="reduction"
            value="average").mdl-radio__button
          span.mdl-radio__label Average

    div(for="reduction-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
      | For plotting, a group needs to be aggregated to a single value. This can be the count, the sum, or the average of all elements in the group.

  div.mdl-cell.mdl-cell--2-col
