div.mdl-grid
  div.mdl-cell.mdl-cell--1-col.facetInfoIcon
  
  div.mdl-cell.mdl-cell--1-col
  
  div.mdl-cell.mdl-cell--8-col
    div.mdl-grid

      div(id="general-title-div").mdl-cell.mdl-cell--12-col
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
          input(
            id="general-title"
            data-hook="general-title-input"
            type="text").mdl-textfield__input 
          label(for="general-title").mdl-textfield__label Name
      div(for="general-title-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Set a descriptive name for this facet. The name is used to identify this facet on plots and in menus. 
       
      div(id="general-units-div").mdl-cell.mdl-cell--12-col
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.fullwidth
          input(
            id="general-units"
            data-hook="general-units-input"
            type="text").mdl-textfield__input 
          label(for="general-units").mdl-textfield__label Units
      div(for="general-units-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Set units for this facet. Units are printed on plots where applicable.
       
      div(id="general-description-div").mdl-cell.mdl-cell--12-col
        div.mdl-textfield.mdl-js-textfield.mdl.textfield--floating-label.fullwidth
          textarea(
            id="general-description"
            data-hook="general-description-input"
            type="text"
            rows="5").mdl-textfield__input 
          label(for="general-description").mdl-textfield__label Description
      div(for="general-description-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
        | Give a description of the facet. What do its values mean? How are they calculated?

  div.mdl-cell.mdl-cell--2-col
